@tailwind base;

@tailwind components;

@tailwind utilities;

.scrollbar-width::-webkit-scrollbar {
    width: 0.25rem;
    height: 0.25rem;
}
.scrollbar-thumb-color::-webkit-scrollbar-thumb {
    --bg-oppacity:1;
    background-color: #1f2937;
    background-color: rgba(31, 41, 55, var(--bg-oppacity));
    border-radius: 0.25rem;
}